body {
    background: url("../../assets/images/background.jpg");
    font-family: 'Karma', serif;
    margin-bottom: 25px;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
}

h3 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
}

h4 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    padding-bottom: 5px;
}

li {
    font-size: 18px;
}

footer {
    font-family: 'Karma', serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 25px;
    padding-top: 20px;
    background: #e9ecef;
    text-align: center; 
}

.container {
    margin-bottom: 75px;
}

.question {
    padding: 15px;
    font-size: 20px;
}

input[type=radio] {
    width: 5%;
    height: 1em;
    margin-right: -24px;
}

#tally {
    font-size: 22px;
}

#answersRightText,
#right {
    color: green;
}

#answersWrongText,
#wrong {
    color: red;
}

#answersSkippedText,
#skipped {
    color: blue;
}

#buttons, 
#start,
#submit, 
#reset {
    text-align: center;
    margin: 0 auto;
}

#correct1, 
#correct2, 
#correct3, 
#correct4, 
#correct5, 
#correct6, 
#correct7, 
#correct8, 
#correct9, 
#correct10  {
    color: green;
}

#incorrect1, 
#incorrect2, 
#incorrect3, 
#incorrect4, 
#incorrect5, 
#incorrect6, 
#incorrect7, 
#incorrect8, 
#incorrect9, 
#incorrect10  {
    color: red;
}

#skipped1, 
#skipped2, 
#skipped3, 
#skipped4, 
#skipped5, 
#skipped6, 
#skipped7, 
#skipped8, 
#skipped9, 
#skipped10  {
    color: blue;
}


